// Variables
$white: #fff;
$light-gray: #E2E2E2;
$border-color: #8C8C8C;
$text-color: #333;


.container {
    display: flex;
    height: 100vh;
    
    // Left panel
    .left {
      background-color: #ffffff ;
      width: 65%;
      display: flex;
      align-items: center;
      padding: 2rem;
      
      .leftImage {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-fit: contain;
        border-radius: 12px;
        margin-left: 10%;
        

        .logo {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 50px;
        }
        
        .tagline {
          font-size: 36px;
          font-weight: bold;
          line-height: 1.7;
        }

      .error{
        margin:2px 2px 2px auto;
        font-size: 14px;
        color: #be0909;
      }

      }

      @media (max-width: 1183px) {
        width: 100%;
        justify-content: center;
        .text {
          padding: 0 30px;
          text-align: left;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        .text {
          padding: 0 20px;
          text-align: left;
        }
      }
  
      @media (max-width: 480px) {
        display: none;
      }
    }
    
    // Right pane
    .right {
      background-color: #fbe287;
      width: 65%;
      display: flex;
      justify-content: center;
      align-items: center;

      .rightContainer {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
        height: 80%;
      }

      
      .box {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        
        .title {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 20px;
          text-align: center;
          margin-top: 20px;
        }
        
        form {
          display: flex;
          flex-direction: column;
          padding-top: 15px;
          
          label {
            font-size: 15px;
            margin-bottom: 8px;
          }
          
          input {
            height: 46px;
            padding: 15px;
            border: 1px solid $border-color;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            background-color: #ffffff;
            
            &:focus {
              outline: none;
              border-color: darken($border-color, 15%);
            }
          }
          .selector{
            height: 46px;
            padding: 0 15px;
            border: 1px solid $border-color;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            background-color: transparent;
          }
          
          .button {
            height: 46px;
            background-color: #fbe287;
            border: 1px solid $white;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.2s;
            margin-top: 10px;
            
            
            &:hover {
              background-color: darken($white, 5%);
            }
          }
        }
        
        .changeAuthentication {
          text-align: center;
          margin-top: 30px;
          font-size: 17px;
        }

        .span{
          cursor: pointer;

          &:hover{
            text-decoration: underline;
          }
        }
      }
      
      @media (max-width: 768px) {
        width: 100%; 
        min-height: 100vh; 
        padding: 20px;
      }
    }
    
    @media (max-width: 480px) {
      .left{
        display: none;
      }
    }
  }