// Variables
$white: #fff;
$light-gray: #E2E2E2;
$border-color: #8C8C8C;
$text-color: #333;


.container {
    display: flex;
    min-height: 100vh;
    
    // Left panel
    .left {
      background-color: $white;
      width: 35%;
      display: flex;
      align-items: center;
      
      .text {
        padding-left: 150px;
        
        .logo {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 50px;
        }
        
        .tagline {
          font-size: 36px;
          font-weight: bold;
          line-height: 1.7;
        }

      .error{
        margin:2px 2px 2px auto;
        font-size: 14px;
        color: #be0909;
      }

      }

      @media (max-width: 1183px) {
        width: 100%;
        justify-content: center;
        .text {
          padding: 0 30px;
          text-align: left;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        .text {
          padding: 0 20px;
          text-align: left;
        }
      }
  
      @media (max-width: 480px) {
        display: none;
      }
    }
    
    // Right pane
    .right {
      background-color: $light-gray;
      width: 65%;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .box {
        width: 100%;
        max-width: 400px;
        padding: 0 20px;
        
        .title {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 30px;
          text-align: center;
        }
        
        form {
          display: flex;
          flex-direction: column;
          
          label {
            font-size: 15px;
            margin-bottom: 8px;
          }
          
          input {
            height: 46px;
            padding: 0 15px;
            border: 1px solid $border-color;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            background-color: transparent;
            
            &:focus {
              outline: none;
              border-color: darken($border-color, 15%);
            }
          }
          .selector{
            height: 46px;
            padding: 0 20px;
            border: 1px solid $border-color;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 16px;
            background-color: transparent;
          }
          
          .button {
            height: 46px;
            background-color: $white;
            border: 1px solid $white;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.2s;
            
            &:hover {
              background-color: darken($white, 5%);
            }
          }
        }
        
        .changeAuthentication {
          text-align: center;
          margin-top: 100px;
          font-size: 18px;  
        }

        .span{
          cursor: pointer;
          color: #434343;

          &:hover{
            text-decoration: underline;
          }
        }
      }
      
      @media (max-width: 768px) {
        width: 100%; 
        min-height: 100vh; 
        padding: 20px;
      }
    }
    
    @media (max-width: 480px) {
      .left{
        display: none;
      }
    }
  }